#search-bar {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    border: 2px solid #70A37F;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
}

#search-bar:focus {
    border-color: #003844;
    transform: scale(1.02);
}

#item-list {
    list-style: none;
    padding: 0;
}

#results-container {
    max-height: 160px; /* Altura para exibir até 3 itens */
    overflow-y: auto; /* Ativa a rolagem */
    border: none;
    padding: 5px;
    background: #fff;
    
}

.item {
    padding: 10px;
    background: #fff;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    display: none; /* Inicia oculto */
}

.item.show {
    opacity: 1;
    transform: translateY(0);
    display: block;
}

.categories {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
    white-space: nowrap;
    border-top: 3px solid #003844b3;
}

.category-card {
    flex: 0 0 auto;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.category-card:hover {
    transform: scale(1.05);
    background-color: #70A37F;
    color: #003844;
}