@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
    user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

/* Navbar principal */
.header {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-cima {
    width: 100%;
    height: fit-content;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003844;
    border-bottom: 3px solid #70A37F;
}

.header-cima .logo {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-cima .logo h1 {
    color: #FFFFFF;
    font-weight: bold;
    font-style: italic;
    font-size: 60px;
}
/*-----*/
.user-info {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.user-info .boas-vindas {
    display: flex;
    width: fit-content;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.user-info .boas-vindas .welcome-msg {
    color: #FFFFFF;
    font-weight: medium;
    font-size: 32px;
    text-align: center;
}

.buttons {
    width: fit-content;
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.buttons button{
    background-color: #70A37F;
    color: #FFFFFF;
    padding: 10px 15px;
    width: fit-content;
    height: 100%;
    font-weight: medium;
    font-size: 32px;
    text-align: center;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5b8d69;
}

/* Seção dos links de navegação */
.nav-bar {
    width: 100%;
    height: fit-content;
    background-color: #003844;
    padding:0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 20px;
}

.nav-links li {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.nav-links li a {
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    font-size: 32px;
    font-weight: medium;
    text-align: center;
    color: #f4f4f4;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #70A37F;
}

/* Estiliza a barra de rolagem inteira */
::-webkit-scrollbar {
    width: 10px; /* Largura da barra vertical */
    height: 10px; /* Altura da barra horizontal */
}

/* Estiliza o fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.25); /* Cor do fundo */
    border-radius: 5px;
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

/* Estiliza o "thumb" (a parte arrastável) da barra de rolagem */
::-webkit-scrollbar-thumb {
    background: #003844; /* Cor da barra */
    border-radius: 5px;
}

/* Efeito ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
    background: #003844; /* Cor mais escura no hover */
}

/* Responsividade */
@media (max-width: 828px) {
    .header .header-cima .logo h1 {
        font-size: 26px;
    }

    .header .header-cima .user-info .boas-vindas .welcome-msg, 
    .header .header-cima .user-info .buttons button {
        font-size: 18px;
        text-align: center;
    }

    .nav-bar .nav-links li a{
        font-size: 18px;
        text-align: center;
    }
}
@media (max-width: 525px) {
    .header .header-cima {
        flex-direction: column;
        gap: 10px;
    }
    
    .header .header-cima .user-info {
        font-size: 16px;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
    }

    .nav-bar .nav-links {
        justify-content: start;
        overflow-x: auto;
    }

    ::-webkit-scrollbar {
        width: 0px; /* Largura da barra vertical */
        height: 0px; /* Altura da barra horizontal */
    }
    
    /* Estiliza o fundo da barra de rolagem */
    ::-webkit-scrollbar-track {
        background: transparent; /* Cor do fundo */
        border-radius: 5px;
    }
    
    /* Estiliza o "thumb" (a parte arrastável) da barra de rolagem */
    ::-webkit-scrollbar-thumb {
        background: transparent; /* Cor da barra */
        border-radius: 5px;
    }
    
    /* Efeito ao passar o mouse */
    ::-webkit-scrollbar-thumb:hover {
        background: #9e9e9e; /* Cor mais escura no hover */
    }
}