@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
 /* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: 'Nunito', sans-serif;
}

/* Navbar principal */
.navbar {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003844;
    color: #f4f4f4;
    padding: 15px 20px;
    border-bottom: 3px solid #70A37F;
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

#logout {
    background-color: #70A37F;
    color: #f4f4f4;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}

#logout:hover {
    background-color: #5b8d69;
}

/* Seção do banner */
.banner {
    width: 100%;
    height: 100%; /* Ajuste conforme necessário */
    background-color: #f0f0f0; /* Apenas um fundo temporário */
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta a imagem para cobrir toda a área */
}

/* Seção dos links de navegação */
.nav-section {
    background-color: #003844;
    padding: 10px 0;
}

.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    font-size: 1.2em;
    color: #f4f4f4;
    font-weight: bold;
}

.nav-links a:hover {
    color: #70A37F;
}

/* Responsividade */
@media (max-width: 768px) {
    .nav-links {
        font-size: 0.8em;
        text-align: center;
        gap: 20px;
    }
}
