@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
 /* Reset básico */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    user-select: none;
}

/* Estilização da navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003844;
    padding: 15px 30px;
    color: #EADDE1;
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #EADDE1;
    font-size: 1.2em;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #70A37F;
}

/* Área do usuário */
.user-info {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.2em;
    font-weight: bold;
}

/* Botão de sair */
#logout {
    background-color: #70A37F;
    border: none;
    color: #003844;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

#logout:hover {
    background-color: #EADDE1;
    color: #003844;
}

/* Responsividade */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
    
    .navbar {
        flex-direction: column;
        text-align: center;
    }
    
    .user-info {
        flex-direction: column;
        gap: 5px;
    }

    #logout {
        margin-top: 5px;
    }
}
